apiVersion: v1
kind: Service
metadata:
  name: product-tracker-app
spec:
  ports:
    - port: 8080
      targetPort: 8080
      name: http
    - port: 8081
      targetPort: 8081
      name: management
  selector:
    app: product-tracker-app
